.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -8px; }

.flex-column {
  padding: 8px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  margin: 0 8px; }
  .flex-column.col-1 {
    flex-basis: calc((100% / 12 - 16px) * 1); }
  .flex-column.col-2 {
    flex-basis: calc((100% / 12 - 16px) * 2); }
  .flex-column.col-3 {
    flex-basis: calc((100% / 12 - 16px) * 3); }
  .flex-column.col-4 {
    flex-basis: calc((100% / 12 - 16px) * 4); }
  .flex-column.col-5 {
    flex-basis: calc((100% / 12 - 16px) * 5); }
  .flex-column.col-6 {
    flex-basis: calc((100% / 12 - 16px) * 6); }
  .flex-column.col-7 {
    flex-basis: calc((100% / 12 - 16px) * 7); }
  .flex-column.col-8 {
    flex-basis: calc((100% / 12 - 16px) * 8); }
  .flex-column.col-9 {
    flex-basis: calc((100% / 12 - 16px) * 9); }
  .flex-column.col-10 {
    flex-basis: calc((100% / 12 - 16px) * 10); }
  .flex-column.col-11 {
    flex-basis: calc((100% / 12 - 16px) * 11); }
  .flex-column.col-12 {
    flex-basis: calc((100% / 12 - 16px) * 12); }

.card {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 6px rgba(154, 86, 33, 0.21); }

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 16px; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

@font-face {
  font-family: 'Droid Sans';
  src: url("../fonts/DroidSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Droid Sans';
  src: url("../fonts/DroidSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatinBlack-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatinLight-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatinThin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility; }

.donut-chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-align: center; }

.donut-chart-background {
  fill: none;
  stroke: #ccc;
  stroke-width: 10; }

.donut-chart-circle {
  fill: none;
  stroke: #f8b24f;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-in-out; }

.donut-chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold; }

body {
  background-color: rgba(245, 125, 32, 0.08); }
