$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

$color-brand: #F57D20;
$color-blue: #3B80D0;
$color-green: #2BBD77;
$color-base: #333333;
$color-white: #FFFFFF;


$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-large: 1rem;

$font-size-h1: 2.25rem; // 36px
$font-size-h2: 1.875rem; // 30px
$font-size-h3: 1.5rem; // 24px
$font-size-h4: 1.25rem; // 20px
$font-size-h5: 1.125rem; // 18px
$font-size-h6: 1rem; // 16px

$font-family-droid: 'Droid Sans', Arial, sans-serif;
$font-family-lato: 'Lato', Arial, sans-serif;

// Grid Variables
$grid-columns: 12;
$grid-gutter: 16px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$padding-global: 16px;


// Flexbox Grid
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -($grid-gutter / 2);
}

.flex-column {
  padding: ($grid-gutter / 2);
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  margin:0 ($grid-gutter / 2);

  @for $i from 1 through $grid-columns {
    &.col-#{$i} {
      flex-basis: calc((100% / #{$grid-columns} - #{$grid-gutter}) * #{$i});
    }
  }
}

.card {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 6px rgba(154, 86, 33, 0.21);
}


.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $padding-global;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1140px;
  }
}

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LatoLatin';
  src: url('../fonts/LatoLatinBlack-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LatoLatin';
  src: url('../fonts/LatoLatin-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LatoLatin';
  src: url('../fonts/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LatoLatin';
  src: url('../fonts/LatoLatinLight-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'LatoLatin';
  src: url('../fonts/LatoLatinThin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}


.donut-chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-align: center;
}

.donut-chart-background {
  fill: none;
  stroke: #ccc;
  stroke-width: 10;
}

.donut-chart-circle {
  fill: none;
  stroke: #f8b24f;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.donut-chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

body{
  background-color: rgba($color-brand, 0.08);
}