@import "_base.scss";

  .svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    transform-origin: center;
    stroke: $color-green;
    animation: donutAnimate 2s;
}


@keyframes donutAnimate {
    0% {
        stroke-dasharray: 0, 100;
    }
}

.donut-text{
    fill: $color-green;
}

.donut-title {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 0.17rem;
  font-weight: 400;
  line-height: 1;
  fill: $color-base;
  transform: translateY(0.25em);
}


.donut-label {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 0.4rem;
    font-weight: 200;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-score{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 0.45rem;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-subtitle {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 0.18rem;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:$color-base;
    fill: $color-base;
}