.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s; }

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: .2; }
  100% {
    opacity: 1; } }

.donut-ring {
  stroke: #EBEBEB; }

.donut-segment {
  transform-origin: center;
  stroke: #2BBD77;
  animation: donutAnimate 2s; }

@keyframes donutAnimate {
  0% {
    stroke-dasharray: 0, 100; } }

.donut-text {
  fill: #2BBD77; }

.donut-title {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.17rem;
  font-weight: 400;
  line-height: 1;
  fill: #444444; }

.donut-score {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.45rem;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold; }

.donut-subtitle {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.18rem;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #444444;
  fill: #444444; }
